.App-description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(64, 64, 64, 0.9);
  border: 2px outset #777;
  margin: 1rem;
  padding: 0 1rem;
  max-width: 30rem;
  max-height: calc(100vh - 2rem);
  overflow: auto;
}

.FactorioTiles-raw,
.FactorioTiles-render,
.FactorioTiles-grid {
  border-collapse: collapse;
  position: absolute;
  left: 0;
  top: 0;

  /* remove width limit */
  width: 0;
  table-layout: fixed;
}

.FactorioTiles-raw,
.FactorioTiles-render {
  pointer-events: none;
}

.FactorioTiles-render {
  top: 0.5em;
  left: 0.5em;
}

.FactorioTiles-grid {
  cursor: crosshair;
}

.FactorioTiles-raw td,
.FactorioTiles-render td,
.FactorioTiles-grid td {
  width: 1em;
  height: 1em;
  border: none;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}

.FactorioTiles-raw td {
  border-color: black;
}

.FactorioTiles-render td {
  border-color: transparent;
}

.FactorioTiles-raw td.X {
  background-color: black;
}

.FactorioTiles-raw td.L {
  background-color: #451;
}

.FactorioTiles-raw td.W {
  background-color: #246;
}

.FactorioTiles-render td img {
  display: block;
  image-rendering: pixelated;
  width: 1em;
  height: 1em;
}

.FactorioTiles-grid td {
  border: 1px solid black;
  box-sizing: border-box;
}

.FactorioTiles-grid td:nth-child(16n) {
  border-right-width: 3px;
}

.FactorioTiles-grid tr:nth-child(16n) td {
  border-bottom-width: 3px;
}